extends layout

block content
  nav
    h1
      a.nav-logo(href='/') Members Only
    ul.nav-links-list
      if !user
        li
          a.nav-link(href='/sign-up') Sign Up
        li
          a.nav-link(href='/login') Log In
      else
        li
          a.nav-link(href='/create-post', aria-labelledby='Create Post')
            i.fas.fa-plus
        li
          a.nav-link(href='/register') Member Registration
        li
          a.nav-link(href='/logout') Log Out
  .welcome 
    if !user
      h1.welcome-message Please sign up or log in
      .post-display 
        each post in post_list
          .post-section
            .post-text
              h2#postTitle !{ post.title }
              p#postMessage !{ post.message }
            hr 
            .post-creation
              p Anonymous
              p #{ post.postDate }
    else if user.member
      h1 Hi #{ user.username }!
      h2.welcome-message Check out the latest posts...
      .post-display 
        each post in post_list
          .post-section
            .post-text
              h2#postTitle !{ post.title }
              p#postMessage !{ post.message }
            hr 
            .post-creation
              p #{ post.user.fullName } • @#{ post.user.username }
              p #{ post.postDate }

    else
      h1 Welcome #{ user.username }
      h2.welcome-message Check out the latest posts...
      .post-display 
        each post in post_list
          .post-section
            .post-text
              h2#postTitle !{ post.title }
              p#postMessage !{ post.message }
            hr 
            .post-creation
              p Anonymous
              p #{ post.postDate }
