extends layout

block content
  .signup-form
    h1= title
    form(method='POST', action='')
      div
        label(for='firstName') First Name:
        input#firstName(
          type='text',
          name='firstName',
          value=undefined === user ? "" : user.firstName,
          required
        )
      div
        label(for='lastName') Last Name:
        input#lastName(
          type='text',
          name='lastName',
          value=undefined === user ? "" : user.lastName,
          required
        )
      div
        label(for='username') Username:
        input#username(
          type='text',
          name='username',
          value=undefined === user ? "" : user.username,
          required
        )
      div
        label(for='password') Password:
        input#password(
          type='text',
          name='password',
          value=undefined === user ? "" : user.password,
          required
        )
      div
        label(for='passwordConfirmation') Confirm Password:
        input#passwordConfirmation(
          type='text',
          name='passwordConfirmation',
          value=undefined === user ? "" : user.password,
          required
        ) 

      .form-buttons
        input.submit(type='submit', value='Submit')
        button.back(type='button', onclick='location.href=\'/\'') Back to Home Page

    if errors
      ul
        each error in errors
          li!= error.msg
